:root {
    --piece1-clr: red;
    --piece2-clr: blue;
    --sqr1-clr: #522d0a;
    --sqr2-clr:  #eed4a5;
    --piece1-hover: #c50606;
    --piece2-hover: #0b0baf;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: scroll;
    position: relative;
}

.scoreboard {
    align-items: center;
    color: #868383;
    display: flex;
    font-size: 1.5rem;
    height: 20vh;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.scoreboard__blue,
.scoreboard__red {
    padding: 0.8rem 1.6rem;
}

.scoreboard__red-turn,
.scoreboard__blue-turn {
    font-size: 1em;
    transition: all 400ms ease-in;
    margin-bottom: 0.2rem;
}

.scoreboard__blue-score,
.scoreboard__red-score {
    font-size: 0.6em;
}

.win-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    right: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 99;
}

.win-modal__content {
    align-items: center;
    background-color: var(--sqr2-clr);
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 40%;
}

.win-modal__reset {
    cursor: pointer;
    border: 2px solid var(--sqr1-clr);
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
}

.win-modal__reset:hover {
    background-color: rgb(219, 211, 211);
}

.wrapper {
    height: 80vh;
    position: relative;
}

.squares,
.pieces {
    border: 4px solid #000000;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 80vh;
    left: 50%;
    max-width: 750px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, 0);
    width: 100%;
}

.pieces {
    grid-template-areas: 
        ". a2 . a4 . a6 . a8"
        "b1 . b3 . b5 . b7 ."
        ". c2 . c4 . c6 . c8"
        ". . . . . . . ."
        ". . . . . . . ."
        "f1 . f3 . f5 . f7 ."
        ". g2 . g4 . g6 . g8"
        "h1 . h3 . h5 . h7 .";
    z-index: 1;
}

.piece {
    align-items: center;
    align-self: center;
    border-radius: 50%;
    border: none;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    justify-self: center;
    pointer-events: all;
    width: 2.5rem;
}

.piece[data-color="blue"]:hover {background-color: var(--piece2-hover);}
.piece[data-color="red"]:hover {background-color: var(--piece1-hover);}

.piece:focus {
    outline: none;
    border: 3px solid #fff;
}

.square {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: all;
    width: 100%;
}

.square[data-color="dark"] {background-color: var(--sqr1-clr)}
.square[data-color="light"] {background-color: var(--sqr2-clr)}


.piece[data-color="red"] {background-color: var(--piece1-clr)}
.piece[data-color="blue"] {background-color: var(--piece2-clr)}

/*red*/
.a2 {grid-area: a2;}
.a4 {grid-area: a4;}
.a6 {grid-area: a6;}
.a8 {grid-area: a8;}

.b1 {grid-area: b1;}
.b3 {grid-area: b3;}
.b5 {grid-area: b5;}
.b7 {grid-area: b7;}

.c2 {grid-area: c2;}
.c4 {grid-area: c4;}
.c6 {grid-area: c6;}
.c8 {grid-area: c8;}

/*blue*/
.f1 {grid-area: f1;}
.f3 {grid-area: f3;}
.f5 {grid-area: f5;}
.f7 {grid-area: f7;}

.g2 {grid-area: g2;}
.g4 {grid-area: g4;}
.g6 {grid-area: g6;}
.g8 {grid-area: g8;}

.h1 {grid-area: h1;}
.h3 {grid-area: h3;}
.h5 {grid-area: h5;}
.h7 {grid-area: h7;}

/* utility classes */
.fade {
    opacity: 30%;
}

.player-turn {
    opacity: 100%;
    background-color: rgb(107, 101, 101);
    color: #fff;
}

.king {
    border: 3px solid #fff;
    color: #fff;
}

.show-modal {
    display: flex;
}

/* drag over */
.overSquare {
    opacity: 60%;
}

.valid-drop {
    opacity: 60%;
}

@media only screen and (min-width: 500px) and (min-height: 600px) {
    .piece {
        height: 3.5rem;
        width: 3.5rem;
    }
};

@media only screen and (min-width: 1000px) and (min-height: 800px) {
    .piece {
        height: 5rem;
        width: 5rem;
    }
};
